*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  min-height: auto;
  background: $dark-color;
}

.container-fluid {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  list-style: none;
  color: $accent-color;
}

/* BUTTONS */
.go-to-top {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  z-index: 999;
  background: $dark-color;
  border-radius: 50%;

  @media (max-width: $mid-breakpoint) {
    right: 0.5rem;
  }

  .to-top-btn {
    padding: 0.2rem;
    width: 2rem;
    color: $grey-color;
    border: 2px solid $grey-color;
    border-radius: 50%;

    cursor: pointer;
    transform: $secondary-transition;

    &:hover {
      color: $accent-color;
      border: 2px solid $accent-color;
    }
  }
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: $lightgrey-color;
  border-radius: 0.1em;
  margin-block: 0.4em;
}

::-webkit-scrollbar-thumb {
  background: $grey-color;
  border-radius: 100vw;

  &:hover {
    background: $darkgrey-color;
  }
}

@supports (scrollbar-color: grey lightgrey) {
  * {
    scrollbar-color: $grey-color $lightgrey-color;
    scrollbar-width: thin;
    scroll-margin-block: 1em;
  }
}
