.navbar {
  height: 8vh;
  background: #0d0a16d5;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  .logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;

    .logo {
      width: 4rem;

      @media (max-width: $mid-breakpoint) {
        width: 2rem;
      }
    }

    .nav-brand {
      padding: 0 1rem;
      color: $accent-color;
      font-family: $secondary-font;
      font-size: 36px;
      letter-spacing: 2px;

      @media (max-width: $mid-breakpoint) {
        font-size: 24px;
      }
    }
  }
  .nav-btn {
    width: 2.5rem;
    color: $grey-color;
    transition: $primary-transition;

    &:hover {
      color: $accent-color;
      cursor: pointer;
    }

    @media (max-width: $mid-breakpoint) {
      width: 2rem;
    }
  }
}

.offcanvas {
  background: $dark-color;
  color: $accent-color;

  .nav-links-container {
    padding: 2rem 0;

    .nav-link {
      padding: 1rem 0;
      font-size: $mid-font;
      color: $grey-color;
      transition: $primary-transition;

      &:hover {
        color: $accent-color;
      }
    }
  }
}
button.close {
  filter: brightness(0) invert(1) !important;
}
