.search {
  margin-top: 1rem;
  .search-form {
    width: 100%;
    max-width: 350px;

    background: rgba($color: #0d0a16, $alpha: 0.6);
    background: #0d0a14;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 0 15px;

    input {
      background: transparent;
      flex: 1;
      border: 0;
      outline: none;
      padding: 14px 10px;
      font-size: $sm-font;
      color: white;

      &:focus {
        color: white;
      }
    }

    button {
      .search-icon {
        width: 30px;
        color: $grey-color;
        transition: $primary-transition;

        &:hover {
          color: white;
        }
      }
    }
  }

  /* SEARCH ERROR HANDLING */
  .error {
    margin: 0.5rem 0.5rem 0 0;
    display: flex;
    align-items: center;
    font-size: $sm-font;

    .error-icon {
      margin-right: 0.5rem;
      width: 30px;
    }
  }

  .error-warning {
    color: #ffee00;
  }
  .error-danger {
    color: #f81d1d;
  }
  .error-info {
    color: #fff;
  }
}
