// COLORS

$primary-color: #e50914;
$secondary-color: #56df9a;

$lightgrey-color: #ced4da;
$grey-color: #a3abbd;
$darkgrey-color: #7b8291;

$white-color: #fcfcfc;
$black-color: #212529;

// FONTS

$primary-font: "Noto Sans Hebrew", sans-serif;
$secondary-font: "Bangers", cursive;
