// COLORS

$primary-color: #e05599;
$secondary-color: #5193f7;

$lightgrey-color: #ced4da;
$grey-color: #a3abbd;
$darkgrey-color: #7b8291;

$white-color: #fcfcfc;
$black-color: #0b0b0b;

// FONTS

$primary-font: "Noto Sans Hebrew", sans-serif;
$secondary-font: "Bangers", cursive;
